<div class="card rounded-lg shadow-lg transform transition duration-300 hover:scale-105 hover:shadow-lg dark:bg-[#1a2b40]">
<div class="bg-white p-4 rounded shadow-md dark:bg-[#283446] dark:text-[#fff]">
    <h1 class="text-xl font-semibold mb-2">{{ institucion }}</h1>
    <h2 class="text-l mb-2 text-gray-700 dark:text-gray-300">{{ title }}</h2>
    <a href="{{url}}" target="_blank" class="text-blue-500 hover:underline transition duration-300">{{url}}</a>
    <p>{{  'formSearch.location' | transloco  }}: {{ description }}</p>
  </div>
</div>
